@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
@if(Model != null)
{
    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
}

<p>
    Puede que nose hayan encontrado resultado o que la busqueda tenga espacios, recuerda usar palabras clave sin espacios
</p>
<div class="container">
    <a class="btn btn-success " asp-area="" asp-controller="Home" asp-action="Index"> Regresar a la busqueda de peliculas</a>

</div>
